*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.header_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 150px 25px 150px;
    background-color: #1F2937;
}

.header_container>h1{
    font-size:24px;
    color:#f9faf8;
}

.right_side_nav_elements{
    display:flex;
    font-size: 18px;
    color:#e5e7eb;
    
}  

ul{
    display: flex;
    list-style-type: none;
    gap:20px;
}

a{
    text-decoration:none;
    color:#e5e7eb;
    
}