@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&family=Roboto:wght@700&display=swap');

*{    
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family;
}
body{
    
    margin-left: auto;
    margin-right: auto;
}
.header_container{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 450px 25px 440px;
    background-color: #1F2937;
}

.header_container>h1{
    font-size:24px;
    color:#f9faf8;
    font-family: 'Roboto', sans-serif;
}

.right_side_nav_elements{
    display:flex;
    font-size: 18px;
    color:#e5e7eb;
    
}  

ul{
    display: flex;
    list-style-type: none;
    gap:20px;
}

a{
    text-decoration:none;
    color:#e5e7eb; 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.title_section{
    display:flex;
    padding: 25px 175px 70px 175px;
    background-color:#1F2937;
    justify-content: center;
}

#container_for_title{
    background-color: #1F2937; 
    width: 517px;
}

#container_for_title>h1{
color:#f9faf8;
font-family: 'Roboto', sans-serif;
font-weight: 1500;
font-size: 48px;
line-height: 1,5;
}

#container_for_title>p{
    color:#e5e7eb; 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding-right: 30px;
    
}

button{
    color:#e5e7eb;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    background-color: #3882f6;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    margin-top: 15px;
}

#container_for_image{
    height: 255px;
    width: 518px;
    background-color: gray;
    display:flex;
    align-items: center;
    justify-content: center;
}

#container_for_image>p{
    color:#e5e7eb;
    font-size: 18px;
}

.random_info{
    padding:25px 175px 25px 175px;
    max-width:1340px;
    margin-left:auto;
    margin-right:auto;
}

.random_info>h2{
color:#1f2937;
font-size:36px;
text-align:center;
font-weight: bolder;
font-family: 'Roboto', sans-serif;
padding: 25px;
}

.container_for_squares{
    display: flex;

    justify-content: space-evenly;
    margin-bottom: 50px;
}

.frame{
    width: 180px;
    height: 180px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}

.square{
    max-width: 180px;
}

.square>p{
    text-align: center;
    margin-top: 5px;
    font-size: 16px;
    color:#1F2937;
}

.quote_or_citie{
    padding:100px 305px 100px 260px;
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;  
}

.citie{
    padding-left:295px;
    padding-right:295px;
}

#thor{
    text-align: end;
    font-size: 24px;
}

.call_to_action{
    padding:100px 500px 100px 500px;
}

#blue_box{
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    align-items:center;
    justify-content:space-around;
    padding-top: 20px; 
    padding-bottom: 30px;
}

#blue_box{
    color: #f9faf8;
}

#blue_box>button{
    border-color: #e5e7eb;
}

footer{
    text-align: center;
    background-color:#1F2937;
    color:#f9faf8;
    padding-top:30px;
    padding-bottom:30px;
    font-family:'Roboto', sans-serif;
}

